header {
    width: 200px;
    border: 1px dotted black;
    display: inline-block;
    margin-bottom: 20px;
}

h1 {
    display: inline;
    margin: 20px;
    color: rgb(226, 152, 152);
    text-align: center;
}

button {
    display: inline;
    margin-left: 2em;
    width: 3.2em;
    height: 3em;
}

.styleButton {
    background-color: pink;
    color: black;
}

.styleButton.active {
    background-color: gray;
    color: white;
}

.deleteButton {
    background-color: gray;
    color: white;
    display: inline;
    margin: 0.5em;
    width: 3.5em;
    height: 3em;
    border: 30%;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    opacity: 1;
}

form {
    border: 2px solid rgb(223, 178, 194);
    padding: 15px;
    flex-wrap: wrap;
    margin: 15px;
    width: 300px;
}

form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}