header {
    width: 500px;
    border: 1px dotted black;
    display: inline-block;
    margin-bottom: 20px;
}

h1 {
    display: inline;
    margin: 0;
    color: pink;
}

button {
    display: inline;
    padding-left: 20px;
    margin-left: 60px;
}

form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}