header {
    width: 500px;
    border: 1px dotted black;
    display: inline-block;
    margin-bottom: 20px;
}

h1 {
    display: inline;
    margin: 20px;
    color: rgb(226, 152, 152);
    text-align: center;
}

button {
    display: inline;
    margin-left: 2em;
    width: 3em;
    height: 2.5em;
}

.styleButton {
    background-color: pink;
    color: black;
}

.styleButton.active {
    background-color: gray;
    color: black;
}

form {
    border: 2px solid rgb(223, 178, 194);
    padding: 15px;
    flex-wrap: wrap;
    margin: 15px;
}

form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}